.container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

/* ASIDE MENU CONFIG */
.mainMenu {
    height: 100vh;
    min-width: 100px;
}
.listIconsContainer {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}
.listIconsContainer > a {
    margin-top: 20px;
}
.listIconsContainer a img {
    width: 30px;
    height: 30px;
}
#pageLogo {
    width: 48px;
    height: 48px;
} 

/* HEADER USER CONFIG */
.userInfoContainer {
    width: 100%;
    height: 100%;
    
    padding: 20px;

    background-color: aquamarine;
}
.userIconsContainer {
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: row;

    column-gap: 20px;
}

.userInfoHeader {
    display: flex;

    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
    height: 150px;
}
.userInfoTextContainer .welcomeMessage{
    margin-bottom: 13px;
}
.userImage {
    height: 64px;
    width: 64px;

    border-radius: 50%;
    background-color: gray;
}
.searchImageContainer {
    height: 44px;
    width: 44px;
    text-align: center;
    background-color: white;
    border-radius: 12px;
}
.searchImage {
    margin-top: 22%;
}


/* CARDS */

.moneyCard {
    width: 286px;
    height: 348px;
    border-radius: 20px;
}

.incomesCard {
    background-color: red;
}

.cardsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}